<!--<"PRODUCTS FOR ADEBOYE IBRAHIM- 301278686">-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!-- <img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <!-- <h1>Welcome to <%= title %> Page</h1> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>👑Hon Ayinde</title>
  <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
     <!-- <%- include('partials/header') %> -->
     <centre>
     <table cellspacing="25">
      <h1>Product1</h1>
      <tr>
        <td><img class="pix"src="img/net1.jpeg"  title="NET" alt="NETWORKING"></td>
        <td>
          <h2>Bulding Network Facility</h2>
                <p>Setting up the entire network infrastruture for A.A Rano Nig. Ltd. was a milestone project for me. The project was a success as it promotes my level of transformation to a professional.</p>
        </td>
        <!-- <td><em><strong>OPTIONS...</strong></em></td> -->
      </tr>
    </table>
  </centre>
  <centre>
    <table cellspacing="25">
      <h1>Product2</h1>
      <tr>
        <td><img class="pix"src="img/Ranonalysis.jpeg"  title="NET" alt="NETWORKING"></td>
        <td>
          <h2>Data Analysis (RANO Group)</h2>
          <p>Successfully transformed complex data into actionable insights, driving a 20% increase in operational efficiency and informed decision-making for client.</p>
        </td>
        </tr>
    </table>
    </centre>
  <centre>
    <table cellspacing="25">
      <h1>Product3</h1>
      <tr>
        <td><img class="pix"src="img/Olakit.jpg"  title="NET" alt="NETWORKING"></td>
        <td>
          <h2>Restaurant Webpage</h2>
          <p>Setting up a website for a restaurant called OLAOLUWA KITCHEN was quite a project for me. It all began when i developed an idea of ordering food from my choice of local restauant.</p>
        </td>
        </tr>
    </table>
    </centre>
                      
</body>
</html>




   